# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/crash.log
**/*.tfvars

# Secrets / env
.env
.env.*
*.pem
*.key
kubeconfig
*.kubeconfig

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
dist/
build/

# OS / editor
.DS_Store
.vscode/
.idea/